@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* shared styles */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    font-family: open sans;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px ;
    border: none;
}
.section-title{
    font-family: open sans;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-family: open sans;
    font-size: 18px;
    font-weight: normal;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}
/* header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    margin-left: 23px;
    background-position: top left , right bottom;
}
/* Nav styles */
nav{
    display: flex;
    font-family: open sans;
    align-items: center ;
    justify-content: space-between;
    margin: 20px 230px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav li a button{
    width: 150px;
    height: 64px;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 585px;
    height: 356px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    font-family: open sans;
}
.banner-title{
    font-size: 75px;
    font-weight: bold;
    font-family: open sans;
    margin: 5px 0 20px 0;
}
.banner-description{
    font-family: open sans;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 30px;
}
.banner-profile-pic{
    width: 584px;
    height: 676px;
}
.banner .banner-content button{
    margin-right: 30px;
}

/* main styles */
main{
    max-width: 1300px;
    margin: 0 auto;
    font-family: open sans;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about .section-description{
    margin-top: 30px;
    margin-bottom: 30px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
}
.item-title{
    font-size: 20px;
    font-weight: normal;
}

/* skills section style */

.skills>p{
    padding: 0 200px;
    margin: 30px 0 50px 0;
}
.skills-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.skill{
    width: 200px;
    height: 377px;
    border-radius: 5px;
    padding: 33px;
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}
.skill-description{
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}

/* resume section styles */
.resume h2{
    text-align: center;
    margin-bottom: 113px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
}
.resume-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px
}
.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;
}
.experience-description, .experience-subtitle{
    color: #757575;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}

/* Footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"] , footer input[type = "email"]
{
    height: 64px;
    width: 461px;
    border: none;
    display: block;
    margin-top: 24px;
    background-color: white;
    color: #757575;
    padding: 10px 20px;
}
footer textarea{
    border: none;
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: white;
    color: #757575;
    padding: 18px 20px;
    width: 461px;
}
.foot-p{
    margin-top: 20px;
    margin-bottom: 30px;
}
.icon{
   display: flex;
   gap: 30px;
}
.hide{
    display: none;
}
@media screen and (max-width: 576px) {
    .skills-container , .resume-container , .banner , nav , nav ul{
        flex-direction: column;
        /* background-color: red; */
    }
    nav,nav ul{
        gap: 20px;
    }
    .banner-title{
        font-size: 35px;
    }
    .banner-profile-pic{
        width: 100%;
        height: 100%;
    }
    .btn-primary{
        margin-bottom: 10px;
    }
    .banner{
        margin: 30px;
    }
    .header{
        background-image: none;
    }
    footer,.about,.about-items{
        flex-direction: column;
        padding: 20px;
    }
    .footer-column,{
        width: 100%;
    }
    .skills-container , .skills>p{
        padding: 30px;
        margin: 0;
    }
    .skill {
        width: calc(100% - 60px);
        height: auto;
    }
    .resume-container{
        padding: 20px;
    }
}